version: "3.9"

services:
  grafana:
    build:
      context: ..
      dockerfile: docker/grafana/Dockerfile
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
      GF_AUTH_ANONYMOUS_ENABLED: "false"
    depends_on:
      - prometheus
      - tempo

  prometheus:
    image: prom/prometheus:v2.54.1
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  pushgateway:
    image: prom/pushgateway:v1.10.0
    ports:
      - "9091:9091"

  tempo:
    image: grafana/tempo:2.5.0
    command: ["-config.file=/etc/tempo/tempo.yml"]
    volumes:
      - ./tempo/tempo.yml:/etc/tempo/tempo.yml:ro
    ports:
      - "3200:3200"

  otel-collector:
    build:
      context: ..
      dockerfile: docker/otel-collector/Dockerfile
    command: ["--config=/etc/otelcol-contrib/config.yaml"]
    ports:
      - "4317:4317"
      - "4318:4318"
    depends_on:
      - tempo
